/*      =====   MAIN    =====    */
main{
    min-height: initial;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    row-gap: 100px;
    justify-content: space-evenly;
    padding: 100px 0;
}
.card{
    text-align: left;
    border-radius: 15px;
    height: 350px;
    padding: 20px 20px;
    cursor: pointer;
    transition: .3s;
}

.card:hover {
    box-shadow: rgb(78, 78, 78) 0px 0px 10px 1px;
}

.card img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.card span {
    display: block;
    margin: 10px 0;

}

.card span:first-of-type {
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 700;
}

#mensagem {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    position: fixed;
    left: 50vw;
    top: 15vh;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.795);
    box-shadow: 0px 0px 5px 1px;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

#mensagem a {
    text-decoration: none;
    color: gray;
    display: block;
    margin-top: 5px;
    transition: .2s;
}
#mensagem a:hover {
    color: black;
}


@media(max-width:800px) {
    main {
        grid-template-columns: repeat(auto-fit, 250px);
        row-gap: 50px;
        column-gap: 10px;
        padding: 50px 0;
    }
}
